@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;400;500&display=swap');

:root {
    --dark-color: #464646;
    --light-color: #fff;
    --primary-bg-color: #0162e8;
    --secondary-bg-color: #337ab7;
    --primary-accent-color: #0162e8;
    --secondary-accent-color: #337ab7;
    --primary-gradient: linear-gradient(45deg, rgb(1, 98, 232), rgba(1, 98, 232, .5));
    --secondary-gradient: linear-gradient(45deg, rgba(1, 98, 232, .8), rgb(1, 98, 232));
    --primary-font: 'Lexend', sans-serif;
}

body {
    font-family: var(--primary-font) !important;
}

/* Brand Logo */
[class*="sidebar-light"] .brand-link, [class*="sidebar-light-"] .nav-treeview > .nav-item > .nav-link {
    color: var(--dark-color);
}

/* Navigation  */
.nav-pills .nav-link {
    color: var(--dark-color);
}

[class*="sidebar-light"] .nav-sidebar > .nav-item.menu-open > .nav-link {
    background: var(--primary-gradient);
    color: #ffffff;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background: var(--secondary-gradient);
    color: #fff;
}

.nav-pills .nav-link:not(.active):hover{
    background: var(--primary-gradient);
    color: #fff;
}

/* Theme Default CSS */
.hide {
    display: none;
}

.content-wrapper {
    background-color: #ecf0fa;
}

.content-header h1 {
    font-size: 1.5rem;
}
